$gray-400: #464646;
$green: #90ff9f;
$red: #ff9595;
$white: #fff;

$color-primary: $white;
$color-text-primary: $white;
$color-text-secondary: $gray-400;
$color-text-primary: $white;
$color-secondary: $gray-400;

$color-bg: $gray-400;

$font-primary: var(--font-manrope), sans-serif;
