$gray-400: #464646;
$green: #90ff9f;
$red: #ff9595;
$white: #fff;
$black: #000;

$color-bg: $black;
$color-text: $white;
$color-text-muted: $gray-400;
$color-accent: $white;

$font-primary: var(--font-manrope), sans-serif;

$border: 1px solid $gray-400;
