@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $color-bg;
  color: $color-text;
  font-family: $font-primary;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}

:where(a) {
  outline: none;
  border: none;
}

:where(input, textarea, select) {
  font: inherit;
}
